html body{
	font-weight: 500;
	font-family: $font;
	background: #f3f0ec;
}

.align_right{
	text-align:right;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	color: black;
	text-decoration: none;

	&:hover{
		color:$pomarancz;
	}
}

#page{
	overflow: hidden;
}

main{
	padding-top: 150px;

	@media(max-width:991px){
		padding-top: 90px;
	}

}

h1{
	margin: 0;
	padding: 0;
	font-size: 53px;
	color: #211f1d;
	font-family: "kumlien-pro";
	line-height: 50px;
}



.home{
	main{
		padding-top: 0;
	}
}

 

.woocommerce-error{
	background: $error;
	border-radius: 6px;
	padding: 15px;
	color: white;
	font-weight: 600;
	left: 0;
	right: 0;
	position: absolute;
	margin: 20px auto;
	max-width: 60%;
	text-align: center;
	z-index: 9;
	display: block;
	animation: 10s hideDiv;
	animation-fill-mode: forwards;
	list-style-type: none;

	a{
		color: white;
	}
}

input,textarea,select{
	width: 100%;
	padding: 10px;
	border:1px solid black;

	&:focus{
		outline:none;
		border-color: $pomarancz;
	}

	&[type="checkbox"]{
		width: 25px;
		height: 25px;
		border: 1px solid #d6d0c8;
		border-radius: 5px;
		background: white;
		padding: 0;
		margin-right: 15px;
		-webkit-appearance: none;


		&:checked{
			&:before{
				content: "\f00c";
				font-family: "Font Awesome 6 Free";
				font-weight: 900;
				font-size: 14px;
				color: #211f1d;
				display: grid;
				place-items: center;
				height: 100%;
			}
		}
	}
}

button[type="submit"]{
	font-size: 12px;
	line-height: 18px;
	color: #211f1d;
	position: relative;
	background-color: #ece9e9;
	border: none;
	max-width: 100%;
	height: 40px;
	margin: 0;

	span{
		position: relative;
	}

	svg{
		width: 65px;
		margin-left: 10px;
	}
	
	&::before{
		content:' ';
		// animation: 1s right_left;
		background: $pomarancz;
		bottom: -1px;
		content: "";
		display: block;
		left: -0.5em;
		position: absolute;
		right: -0.5em;
		top: -1px;
		transform: scaleX(0);
		transform-origin: 100% 0;
		transition: transform .4s cubic-bezier(.25,1,.5,1);
	}

	&:hover{
		&::before{
			// animation: 1s left_right;
			transform: scaleX(1);
			transform-origin: 0 0;
		}
	}
}

.page-numbers{
	margin: 25px 45px;
	list-style-type: none;
	padding: 0;
	display: flex;

	li{
		a{
			margin: 5px;
			width: 40px;
			height: 40px;
			display: grid;
			place-items: center;
			border: 1px solid black;
			font-size: 14px;
			line-height: 14px;
			font-weight: 600;
			color:black;
			text-decoration: none;;

			&:hover{
				color:white;
				background: black;
			}
		}

		span{
			margin: 5px;
			width: 40px;
			height: 40px;
			display: grid;
			place-items: center;
			border: 1px solid black;
			font-size: 14px;
			line-height: 14px;
			font-weight: 600;
			color:white;
			background: black;
		}

	}
}

.slick-dots{
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: center;

	li{
		margin: 5px;
		height: 15px;
		width: 15px;
		border: 1px solid black;
		border-radius: 50%;

		button{
			display: none;
		}

		&.slick-active{
			background: black;
		}
	}
}



form{
	legend,em{
        font-size: 12px;
        line-height: 18px;
        color: #211f1d;
        margin: 15px 0;
        font-weight: 400;
        letter-spacing: -0.015em;
		display: block;
	}

	.form-row{
		position: relative;
	
		&.woocommerce-invalid-required-field{
			input{
				border-color: $error;
			}
		}
	
		&.title{
			font-size: 15px;
			line-height: 23px;
			color: #211f1d;
			padding-top: 0.5em;
			font-weight: 400;
			letter-spacing: -0.015em;
		}
	
		label{
	
			position: absolute;
			color: #707070;
			font-weight: 400;
			font-size: 12px;
			left: 10px;
			top: 16px;
			transition: 0.2s;
	
			&.active{
				font-size: 9px;
				left: 10px;
				top: 6px;
				z-index: 9;
			}

			&.woocommerce-form__label-for-checkbox{
				position: initial;
				font-size: 12px;
			}
		}
	
		input,select{
			height: 48px;
			padding: 20px 10px 10px 10px;
			font-family: Helvetica;
			font-size: 14px;
			border: 1px solid #d6d0c8;
			border-radius: 5px;
	
			&[type="checkbox"]{
				width: 25px;
				height: 25px;
				padding: 2px;
			}
		}
	}
	
	.select2-container .select2-selection--single{
		height: 48px;
		padding: 15px 10px 10px 10px;
		font-family: Helvetica;
		font-size: 14px;
		border: 1px solid #d6d0c8;
		border-radius: 5px;
	
		.select2-selection__rendered{
			padding: 0px;
		}
	
		.select2-selection__arrow{
			height: 48px;
		}
	
		
	}
}

.gill{
	font-family: gill sans nova,Arial,sans-serif;
}

.didot{
	font-family: didot,Times,serif;
}

.easypack-shipping-method-logo,.woocommerce-notices-wrapper{
	display: none !important;
}

#eqasypack_show_geowidget{
	font-size: 12px;
	line-height: 18px;
	color: #211f1d;
	position: relative;
	background-color: #ece9e9;
	border: none;
	max-width: 100%;
	height: 40px;
	margin: 0;
	width: 100%;
	display: inline-block;
}

*{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
}