.product_list{
    padding: 0 20px;

    @media(max-width:992px){
        padding: 0 20px;
    }

    .product {

        margin-bottom: 30px;
        a{
            text-decoration: none;
        }
    
        .woocommerce-loop-product__title{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            color: #211f1d;
            line-height: 14px;

            &:hover{
                color: $pomarancz;
            }
        }
    
        .price{
            font-size: 12px;
            color: #211f1d;
            line-height: 14px;
        }

        .loop_image{
            position: relative;
            img{
                width: 100%;
            }

            .hover_image{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 9;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover{
                .hover_image{
                    opacity: 1;
                }
            }
        }
    }
}

.term-description{
    // padding: 50px;
    // color: black;
    // font-size: 16px;
    // line-height: 30px;

    // @media(max-width:992px){
    //     padding: 50px 20px;
    // }
}